<!DOCTYPE HTML>
<html>
    <head>
        <title>Page not found</title>
        {{>includes}}
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{error}}</p>
        </div>

        {{>footer}}
    </body>
</html>
